:root {
    --palette1: #ddddddff;
    --palette2: #e18335ff;
    --palette3: #531cb3ff;
    --palette4: #303633ff;
    --palette5: #9c7a97ff;
    --palette6: #fa5018;
}

/* --palette1: #d7dedcff;
--palette2: #fa9f42ff;
--palette3: #531cb3ff;
--palette4: #944bbbff;
--palette5: #aa7bc3ff; */