@import url("./ColorScheme.css");
.jobItemDiv {
  background-color: var(--palette5);
  border-radius: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.starDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-list-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .job-list-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .job-list-item p {
    margin: 0;
    font-size: 16px;
  }
  
  .job-list-item a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .job-list-item a:hover {
    text-decoration: underline;
  }
  
  .starButton {
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .starButton.clicked {
    background-color: blue;
    color: white;
  }

  #starButton {
    /* background-color: yellow;
    color: black; */
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* #starButton.clicked {
    background-color: blue;
    color: white;
  } */

  .grow {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .jobItemParagraph {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
  }
  
  .jobItemLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
  }
  
  .jobItemLink:hover {
    background-color: #00BFFF;
  }

  .jobItemHeader {
    padding-left: 20px;
  }
  