.container {
  display: flex;
  margin-top: 200px;
  margin-left: 400px;
}

.dot {
  width: 25px;
  height: 25px;
  background: yellow;
  position: relative;
  animation: firstDot 3s infinite, scale-rotate 3s linear 0s infinite;
}

.dot2 {
  width: 25px;
  height: 25px;
  background: yellow;
  position: relative;
  animation: secondDot 3s infinite, scale-rotate 3s linear 0s infinite;
  margin-left: 200px;
  margin-bottom: 45px;

}

@keyframes firstDot {
  0% {
    background-color: yellow;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: red;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: yellow;
    left: 0px;
    top: 0px;
  }
}

@keyframes secondDot {
  0% {
    background-color: yellow;
    right: 0px;
    top: 0px;
  }

  25% {
    background-color: red;
    right: 200px;
    top: 0px;
  }

  50% {
    background-color: blue;
    right: 200px;
    top: 200px;
  }

  75% {
    background-color: green;
    right: 0px;
    top: 200px;
  }

  100% {
    background-color: yellow;
    right: 0px;
    top: 0px;
  }
}

@keyframes scale-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  12.5% {
    transform: scale(0.5) rotate(45deg);
  }

  25% {
    transform: scale(1) rotate(90deg);
  }

  37.5% {
    transform: scale(0.5) rotate(135deg);
  }

  50% {
    transform: scale(1) rotate(180deg);
  }

  62.5% {
    transform: scale(0.5) rotate(225deg);
  }

  75% {
    transform: scale(1) rotate(270deg);
  }

  87.5% {
    transform: scale(0.5) rotate(315deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}